body {
    font-family: Helvetica, sans-serif;
    padding: 20px 0;
    margin: 0;
    text-align: center;
}

span {
    border-bottom: 2px solid black;
    padding: 4px;
}

.container {
    background: white;
    max-width: 30%;
    padding: 2%;
    max-height: 60%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}


button {

    margin: 20px 0;
    background: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 8px;
}
